
@model IEnumerable<AspNetCoreVideoPart2.ViewModels.VideoViewModel>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.Id.ToString(), "Details", new { id = item.Id })</td>
            <td>@item.Title</td>
            <td>
                @item.Genre
            </td>
        </tr>
    }
</table>
@section footer{ <div>This is the Index footer</div> } 