@model InstructorDTO
<div class="instructor-bio panel" style="
    padding: 10px;
    box-shadow: 3px 5px #888888;">  
    <div class="panel-body">      
    <img src="@Model.InstructorAvatar" class="avatar img-circle">      
    <h4>@Model.InstructorName</h4>      
    <h5 class="text-primary">Instructor</h5>    
    <p>@Model.InstructorDescription</p>    
        </div> 
</div> 