@model VideoViewModel
@{
    ViewData["Title"] = "Video";
}

<link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">

<!-- If you'd like to support IE8 -->
<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="membership top-margin video-content">
    <div class="row navigation-bar">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="~/Membership/Course/@Model.Course.CourseId"> <span class="glyphicon glyphicon-menu-left"></span>Back to @Model.Course.CourseTitle </a>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            @if (Model != null && Model.Video != null && Model.LessonInfo != null && Model.Course != null)
            {
                @await Html.PartialAsync("_VideoPlayerPartial")

            }
        </div>
        <div class="col=sm-3">

        </div>
    </div>

</div>

<script src="http://vjs.zencdn.net/6.6.3/video.js"></script>